@font-face {
    font-family: "Orbitron";
    src: url("Orbitron/Orbitron-VariableFont_wght.ttf")
}

:root {
    font-family: "Orbitron", sans-serif;
}

body {
    margin: 0px;
    background-color: #000000;
    color: beige;
    font-size: 100%;
}

h1 {
    margin-left: 8px;
    font-size: 250%;
    text-align: center;
}

h2 {
    font-size: 200%;
    margin-left: 8px;
    text-align: center;
}

p {
    margin-left: 8px;
    font-size: 150%;
    text-align: center;
}

nav {
    background-image: url(markus-spiske-iar-afB0QQw-unsplash.jpg);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    font-size: 300%;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
    background-color: #000000;
    width: 100%;
    border-bottom: 3px solid rgb(47, 47, 47);
}

.logo {
    display: inline;
    padding: 0%;
    margin-left: 5%;
}

.navtitle {
    text-align: center;
    /*background-color: #393939;
    border: 3px solid #707070;
    padding: 10px;*/
}

.navitems {
    text-align: center;
}

.contact-section {
    padding-bottom: 10%;
    width: 100%;
    text-align: center;
}

a:link {
    color: rgb(54, 161, 255);
}
  
a:visited {
    color: rgb(0, 115, 215);
}
  
a:hover {
    color: rgb(0, 100, 187);
}
  
a:active {
    color:rgb(0, 115, 215);
}