p {
    text-indent: 50px;
}

h1 {
    color: brown;
    font-size: 500%;
}

.topnav {
  background-color: #303;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f0eded;
  text-align: center;
  padding: 25px 27px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color: #595;
  color: black;
}

.topnav a.active {
  color: white;
}
