p {
    font-family: Verdana;
    text-indent: 20px;
}

pre {
  font-family: Verdana;
}

h1 {
  text-indent: 20px;
  font-family: Verdana;
  color: black;
  font-size: 500%;
}

.topnav {
  background-color: black;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #edebe4;
  text-align: center;
  padding: 25px 27px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color: #edebe4;
  color: black;
}

.topnav a.active {
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: black;
}

.footer-text-left {
  font-size: 10px;
  color: rgb(255, 255, 255);
  font-family: Verdana;
  float: left;
  margin-top: 30px;
}

a:link {
  color: lightgrey
}

a:visited {
  color: grey
}

a:hover {
  color: darkgrey
}

a:active {
  color: dimgray
}